<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.sync.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home1Servlet</servlet-name>
        <servlet-class>controller.sync.Home1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home2Servlet</servlet-name>
        <servlet-class>controller.sync.Home2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home3Servlet</servlet-name>
        <servlet-class>controller.sync.Home3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.sync.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryServlet</servlet-name>
        <servlet-class>controller.sync.FilterCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.sync.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.sync.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.sync.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.sync.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>controller.sync.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>controller.sync.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.sync.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanksServlet</servlet-name>
        <servlet-class>controller.sync.ThanksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart1Servlet</servlet-name>
        <servlet-class>controller.sync.AddToCart1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart3Servlet</servlet-name>
        <servlet-class>controller.sync.AddToCart3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart2Servlet</servlet-name>
        <servlet-class>controller.sync.AddToCart2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.sync.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.sync.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.admin.AdminListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAsyncServlet</servlet-name>
        <servlet-class>controller.async.AddToCartAsyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart1AsyncServlet</servlet-name>
        <servlet-class>controller.async.AddToCart1AsyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart2AsyncServlet</servlet-name>
        <servlet-class>controller.async.AddToCart2AsyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart3AsyncServlet</servlet-name>
        <servlet-class>controller.async.AddToCart3AsyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.admin.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionAdminServlet</servlet-name>
        <servlet-class>controller.admin.ActionAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.admin.AddCategoryServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home1Servlet</servlet-name>
        <url-pattern>/home1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home2Servlet</servlet-name>
        <url-pattern>/home2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home3Servlet</servlet-name>
        <url-pattern>/home3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryServlet</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanksServlet</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart1Servlet</servlet-name>
        <url-pattern>/add-to-cart1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart3Servlet</servlet-name>
        <url-pattern>/add-to-cart3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart2Servlet</servlet-name>
        <url-pattern>/add-to-cart2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFillter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFillter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAsyncServlet</servlet-name>
        <url-pattern>/add-to-cart-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart1AsyncServlet</servlet-name>
        <url-pattern>/add-to-cart1-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart2AsyncServlet</servlet-name>
        <url-pattern>/add-to-cart2-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart3AsyncServlet</servlet-name>
        <url-pattern>/add-to-cart3-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionAdminServlet</servlet-name>
        <url-pattern>/action-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/add-category</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
